# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go build cache
*.out

# IDE and editor stuff
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Local directories
audio_files/
temp_pitch_corrected_vids/
temp_vids/
